.tabs__line
  display flex
  flex-flow row wrap
  position relative
  background transparent
  border-bottom solid 3px #fc0
  justify-content space-between
  margin 0 2em
  padding 3em
  z-index 1000
